name: CI
on:
  pull_request:
    branches: [main]
jobs:
  validate:
    uses: unbounded-tech/github-actions/.github/workflows/crossplane-validate.yaml@main
    with:
      examples: examples/sentries/minimal.yaml examples/sentries/standard.yaml
  test:
    uses: unbounded-tech/github-actions/.github/workflows/crossplane-test.yaml@main
    with:
      test-dir: tests/test-render
  publish:
    needs: [validate, test]
    uses: unbounded-tech/github-actions/.github/workflows/crossplane-publish.yaml@main
    with:
      package-name: helm-sentry
      registry: ghcr.io/hops-ops
      tag: pr-${{ github.event.number }}
    secrets: inherit
